<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head %}
    <!-- Дополнительные стили и скрипты можно добавить здесь -->
    {% endblock %}
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="{% url 'post_list' %}">Посты</a>
            </li>
            <li>
                <a href="{% url 'author_list' %}">Авторы</a>
            </li>
            <li>
                <a href="{% url 'main_page' %}">Главная страница</a>
            </li>
            <li>
                <form method="get" action="{% url 'search_form' %}">
                    {{ search_form.as_p }}
                    <input type="submit" value="Найти">
                </form>
            </li>
            {% if user.is_authenticated %}
            <li>
                <form method="post" action="{% url 'logout_view' %}">
                    {% csrf_token %}
                    <button type="submit">Выйти из сети</button>
                </form>
            </li>
            {% else %}
            <li>
                <p><a href="{% url 'login_view' %}">Войти в сеть</a></p>
            </li>
            {% endif %}
        </ul>
    </nav>
    <h1>Welcome, {{ user.username|default:"Пользователь" }}</h1>
    <div>
        <img src="{% static 'image.jpg' %}" alt="Image">
    </div>
    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
    <footer>
        {% block footer %}
        <!-- Здесь можно добавить футер -->
        {% endblock %}
    </footer>
    {% block extra_scripts %}
    <!-- Дополнительные скрипты можно добавить здесь -->
    {% endblock %}
</body>
</html>
