<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
        <li>
            <a href="{% url 'shop:product_detail' product.pk %}">{{ product.name }}</a>
            <form method="post" action="{% url 'shop:add_to_order' product.id %}">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{ product.id }}">
                {{ form.as_p }}
                <button type="submit">Add to Order</button>
            </form>
        </li>
        {% endfor %}
    </ul>

    <!-- Пагинация -->
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages }}.
            </span>

            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
